# Production Database Connection
# Use the actual host IP or domain of your database server (e.g. RDS, DigitalOcean Managed DB)
DATABASE_URL=mysql+aiomysql://username:strongpassword@your_mysql_host:3306/lucky_draw

# RabbitMQ Credentials
RABBITMQ_USER=luckyadmin
RABBITMQ_PASS=SuperSecretRabbitPassword

# MinIO Credentials
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=SuperSecretMinioPassword

# The public facing domain for MinIO (used by React to upload files)
MINIO_PUBLIC_ENDPOINT=https://s3.yourdomain.com
